.mainVisual figure{
    height: 100vh;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.mainVisual .itm01 {   
    background-image: url(../img/main_slider_n01.jpg);
}
.mainVisual .itm02 {   
    background-image: url(../img/main_slider_n02.jpg);
}
.mainVisual .itm03 {   
    background-image: url(../img/main_slider_n03.jpg);
}